body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

/* Navbar */
.navbar-brand {
  font-size: 1.25rem;
}
.nav-link.active-link,
.dropdown-toggle.active-link {
  color: #119dce !important;
  border-bottom: 3px solid #119dce;
}

/* Hero */
#hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #15995780, #155799),
    url("/assets/images/hero.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
}

.text-hero {
  font-size: 58px;
}
.subtext-hero {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.gradient-text-hero {
  background: linear-gradient(to right, #f8f8f8, #6ed882);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about-gradient-text {
  background: linear-gradient(to right, #314755, #26a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-vision-gradient {
  background: linear-gradient(to right, #314755, #26a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.all-text-gradient {
  background: linear-gradient(to right, #314755, #26a0da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer-text-gradient {
  background: linear-gradient(to right, #f8f8f8, #6ed882);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* animasi */
.animate-fade {
  opacity: 0;
  transform: translateY(15px);
  animation: fadeUp 1s ease forwards;
}

.animate-fade:nth-child(2) {
  animation-delay: 0.2s;
}

.animate-fade:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom Pagination */
.custom-pagination .page-link {
  border: none;
  margin: 0 6px;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  color: #195666;
}

.custom-pagination .page-item.active .page-link {
  background: #19586e;
  color: white;
}

.custom-pagination .page-link.arrow {
  background: #f0f0f0;
  color: #000000;
  border-radius: 10px;
}

.custom-pagination .page-link:hover {
  background: #19566633;
  color: #195666;
}

/* Login Page */
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* Card Facility */
.card-facility {
  width: 344px;
  height: 417px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-facility:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card About */
.card-about {
  width: 344px;
  height: 544px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-about:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card-facility {
    width: 100%;
    height: auto;
  }
  .card-about {
    width: 100%;
    height: auto;
  }
}
/* End Card Facility */
